.langs-link {
  &::before {
    content: "[";
    padding-inline-end: 0.25em;
  }

  &::after {
    content: "]";
    padding-inline-start: 0.25em;
  }

  &[aria-current="true"] {
    font-weight: 400;
  }

  &:focus,
  &:hover {
    background-color: var(--foreground);
    color: var(--background);

    & span {
      text-decoration: underline;
    }
  }
}

.langs-list {
  gap: 0.25em;
}

.branding-end {
  color: transparent;
  position: relative;
  user-select: none;

  &::after {
    border-block-start: 1px solid var(--foreground);
    border-block-end: 1px solid transparent;
    content: "";
    height: 0;
    left: 0;
    margin-block-start: -1px;
    position: absolute;
    top: 50%;
    width: 100%;
  }
}

.branding[gref]:hover {
  font-weight: 400;

  .branding-end::after {
    border-block-end: 1px solid var(--foreground);
  }
}

.branding {
  line-height: 1.5;
}

.langs,
.branding {
  position: relative;

  &::after {
    background-color: oklch(from var(--background) l c h / 0.8);
    backdrop-filter: blur(4px);
    border-radius: calc(var(--px-16) * var(--border-radius-multiplier));
    box-shadow: 0 4px 8px oklch(from var(--foreground) l c h / 0);
    content: "";
    corner-radius: squircle;
    height: 100%;
    left: -0.75em;
    padding: 0.5em 0.75em;
    position: absolute;
    top: -0.5em;
    transition: 0.25s box-shadow;
    width: 100%;
    z-index: -1;
  }
}

.scrolled .langs::after,
.scrolled .branding::after {
  box-shadow: 0 4px 8px oklch(from var(--foreground) l c h / 0.1);
}

.header {
  z-index: 1;
}

/*
.header {
  background-color: oklch(from var(--background) l c h / 0.75);
  backdrop-filter: blur(var(--px-4));
}
*/
