.social-link {
  &:focus-visible,
  &:hover {
    background-color: var(--foreground);
    color: var(--background);

    & span {
      text-decoration: underline;
    }
  }

  &::before {
    content: "[";
    padding-inline-end: 0.25em;
  }

  &::after {
    content: "]";
    padding-inline-start: 0.25em;
  }
}

.hero-content {
  /*max(386px, calc(26.8vw * var(--scale)))*/
  max-width: max(24rem, calc(26.8vw * var(--scale)));
  width: 100%;
}

.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100dvh;
  text-align: center;
}

@media (min-width: 992px) {
  .hero {
    justify-content: flex-start;
    min-height: 0;
    padding-inline-start: var(--spacing-small);
    padding-inline-end: var(--spacing-large);
    text-align: initial;
  }
}
