.sr-only {
	border-width: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.not-sr-only,
.focus\:not-sr-only:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	padding: 0;
	position: static;
	white-space: normal;
	width: auto;
}
