.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.sticky {
  position: sticky;
}

.fixed {
  position: fixed;
}

.top-0 {
  top: 0;
}

.w-full {
  width: 100%;
}
