.text-small {
  font-size: var(--text-small);
}

.text-base {
  font-size: var(--text-base);
}

.text-medium {
  font-size: var(--text-medium);
}

.text-x-large {
  font-size: var(--text-x-large);
}

.font-copy {
  font-family: var(--font-copy);
  font-weight: 300;
}

.font-branding {
  font-family: var(--font-branding);
  font-weight: 200;
}

.uppercase {
  text-transform: uppercase;
}

.no-underline {
  text-decoration: none;
}
