@font-face {
	font-display: swap;
	font-family: 'Noto Sans Symbols 2';
	font-weight: 400;
	src: local('Noto Sans Symbols 2'), url('/symbols.woff2') format('woff2'), url('/symbols.woff') format('woff');
}
