@media (max-width: 899px) {
	.menu-toggle[aria-expanded=true] .menu-toggle__icon {
		transform: rotate(-90deg);
	}

	.menu-toggle[aria-expanded=true] + .menu {
		top: 100%;
		transform: translate3d(0, 0, 0);
		visibility: visible;
	}
}
